html {
    background-color: #fff1e5
}

body {
    /* width: 500px; */
    margin: 0 auto;
    padding: 28px 60px 60px 60px;
    text-align: center;
}


h1 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 12px;
}

img {
    display: block;
    border-radius: 12px;
}

p {
    color: gray;
    width: 100%;
    line-height: 1.6;
    font-family: 'San Francisco', Helvetica, serif;
    font-weight: 100;
    font-size: 14px;
    text-align: left;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    column-width: 14em;
}
