html {
    /* background-color: #fff1e5 */
    background-color: #ffffff;
}

body {
    width: 70%;
    float: right;
    margin: 0 auto;
    padding: 28px 60px 60px 60px;
    text-align: center;
}

.scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

title {
    font-size: 48px;
    font-family: 'San Francisco', Helvetica, san-serif;
    font-weight: 100;
    padding-bottom: 8px;
}

h1 {
    padding-top: 4em;
    font-size: 36px;
    font-family: 'San Francisco', Helvetica, san-serif;
    font-weight: 50;
    padding-bottom: 1em;
}

h2 {
    font-size: 24px;
    font-family: 'San Francisco', Helvetica, san-serif;
    font-weight: 520;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
}

h3 {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 0.9em;
    color: gray;
    width: 100%;
    line-height: 1.5;
    font-family: 'San Francisco', Helvetica, serif;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

h4 {
    padding-top: -20px;
    margin-top: 60px;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 0.28em;
}

hr {
    /* border: none; */
    margin: 0 auto;
    border: 0;
    border-top: 1px dashed #8c8c8c;
    
}

img {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    border-radius: 8px;
    margin-bottom: 28px;
    /* width: 600px; */
}

video {
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    margin-bottom: 28px;
    /* width: 600px; */
}

p {
    margin: 0 auto;
    /*margin-bottom: 20px; */
    color: gray;
    width: 100%;
    line-height: 1.5;
    font-family: 'San Francisco', Helvetica, serif;
    font-weight: 100;
    font-size: 14px;
    text-align: left;
}

p.title {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 0.9em;
    color: gray;
    width: 100%;
    line-height: 1.5;
    font-family: 'San Francisco', Helvetica, serif;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.role {
    margin: 0 auto;
    color: gray;
    width: 100%;
    line-height: 1.2;
    font-family: 'San Francisco', Helvetica, serif;
    font-weight: 100;
    font-size: 14px;
    text-align: left;
}

.emphasize {
    padding-top: 1.2em;
    font-weight: bold;
}

.center {
    text-align: center;
}

li {
    margin: 0 auto;
    /*margin-bottom: 20px;*/
    color: gray;
    width: 100%;
    line-height: 1.5em;
    font-family: 'San Francisco', Helvetica, serif;
    font-weight: 100;
    font-size: 14px;
    text-align: left;
}

.caption {
    margin: 0 auto;
    margin-bottom: 8px;
    color: gray;
    font-family: 'San Francisco', Helvetica, serif;
    font-size: 14px;
    text-align: left;
    text-decoration: underline;
}

.floating-menu {
    font-family: 'San Francisco', Helvetica, serif;
    /* padding: 20px; */
    margin-left: -25%; /*Place the menu on the left side of the content */
    width: 25%;
    float: left;
    padding: 0.1em;
    z-index: 100;
    position: fixed;
    text-align: left;
    line-height: 1.4em;
    color: gray;
    font-weight: 100;
  }

  .floating-menu a {
    font-size: 0.8em;
    display: block;
    margin: 0 0.5em;
    padding: 0.1em;
    color: black
  }

  .floating-menu a:link,
  .floating-menu a:visited,
  .floating-menu a:active,
  .floating-menu h3
   {
    font-size: 0.9em;
    margin: 0.5em 0.5em;
    padding-left: 0.8em;
    text-decoration: none;
    border-left-style: solid;
    border-color: transparent;
    color: gray;
    transition: 0.4s;
  }

  .floating-menu a:hover {
    color: black;
    border-color: black;
    border-left-style: solid;
  }

  .floating-menu hr {
    margin-left: 6%;
    margin-right: 6%;
    border: 0.1px solid darkgray
  }